# fly.toml app configuration file generated for teams-freshchat

app = "freshchat-bridge"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 3978
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

[env]
TZ = "Asia/Seoul"
